*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Sample Data files #
*.dat

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/assignment1-FlowControl/nbproject/private/
/assignment1-FlowControl/build/
